.listing-marker_container {
  width: 100%;
}

.markers_row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 5px 0;
}

.markers_info {
  width: 80%;
  display: flex;
}

.markers_info > span {
  margin: 0 5px;
  display: inline-block;
}

.markers_info--ellipsis {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.markers_button {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.markers_info a {
  text-decoration: none;
  color: #5FCDFF;
  font-weight: bold;
}


@media screen and (max-width: 640px) {
  .markers_info {
    width: 80%;
  }

  .markers_button {
    width: 20%;
  }
}