.add-marker_container {
  display: flex;
  width: 100%;
}

.add-marker_container form {
  width: 100%;
} 

.add-marker_container form > * {
  margin: 0 5px;
}

.add-marker_label {
  font-size: 20px;
}

.add-marker_input {
  width: 40%;
  height: 30px;
  padding: 0 30px;
  font-size: 20px;
}

.add-marker_button {
  background-color: #5FCDFF;
  color: #ffffff;
  border: none;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
}


@media screen and (max-width: 640px) {
  .add-marker_container {
    width: 90%;
  }
}