.markers_content {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.markers_content > * {
  margin-bottom: 20px;
}

@media screen and (max-width: 640px) {
  .markers_content {
    width: 100%;
  }
}